html {
    font-family: Abel, sans-serif;
  }

body {
    text-align: center;
    background-color: rgb(188, 194, 194);
}

.title {
    margin-top: 20px;
}

.nav-wrapper {
    background-color: rgb(2, 3, 3);
}

#logo {
    padding-top: 5px;
}

.card-image {
    width: 250px !important; 
    height: 250px !important;
}

@media only screen and (max-width: 800px) {
    #diagram {
        width: 355px;
    }

    #chart-title {
        font-size: 35px;
    }
}