{% extends 'base.html'%} {% block content %}

<h1>Songs</h1>
<br>

<div class="container">
  <div class="row">
    {% for chord in chords %}

    <div class="col s12 m6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>{{chord.song_name}}</h4>
            <h5>{{chord.band_name}}</h5>
          </div>
          <div class="card-action">
            
            <a href="{{url_for('show_chords', chord_id=chord._id)}}" class="waves-effect waves-light btn btn_small blue">Chords</a>
            <br>
            <a href="" class="waves-effect waves-light btn btn_small">Edit</a>
            <a href="{{url_for('delete_chords', chord_id=chord._id)}}" onclick="return confirm('Are you sure you want to delete this song?');" class="waves-effect waves-light btn btn_small red">Delete</a>
        
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>


{% endblock %}